[submodule "repos/cats"]
	path = repos/cats
	url = https://github.com/jarmuszz/cats-wasm
[submodule "repos/cats-effect"]
	path = repos/cats-effect
	url = https://github.com/jarmuszz/cats-effect-wasm
[submodule "repos/cats-mtl"]
	path = repos/cats-mtl
	url = https://github.com/jarmuszz/cats-mtl-wasm
[submodule "repos/discipline-munit"]
	path = repos/discipline-munit
	url = https://github.com/jarmuszz/discipline-munit-wasm
[submodule "repos/discipline"]
	path = repos/discipline
	url = https://github.com/jarmuszz/discipline-wasm
[submodule "repos/munit-scalacheck"]
	path = repos/munit-scalacheck
	url = https://github.com/jarmuszz/munit-scalacheck-wasm
[submodule "repos/munit"]
	path = repos/munit
	url = https://github.com/jarmuszz/munit-wasm
[submodule "repos/scala-wasm"]
	path = repos/scala-wasm
	url = https://github.com/jarmuszz/scala-wasm
