[submodule "repos/cats-effect"]
	path = repos/cats-effect
	url = https://github.com/jarmuszz/cats-effect-wasm
[submodule "repos/munit"]
	path = repos/munit
	url = https://github.com/jarmuszz/munit-wasm
[submodule "repos/scala-wasm"]
	path = repos/scala-wasm
	url = https://github.com/jarmuszz/scala-wasm
